@model  List<Data.Taller.AUTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="card">
    <div class="card-header">
        <h5>Lista de Autos</h5>
    </div>
    <div class="card-body">
        @Html.ActionLink("Dar de Alta Auto", "Auto_detalle", new { id = 0 }, new { @class = "btn btn-success btn-sm" })

        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Patente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Color</th>
                    <th>Tecnico</th>
                    <th>Tarea</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.patente</td>
                        <td>@item.marca</td>
                        <td>@item.modelo</td>
                        <td>@item.año</td>
                        <td>@item.color</td>
                        <td>@item.TECNICO.apellido</td>
                        <td>@item.ESTADO.descripcion</td>
                        <td>

                            @Html.ActionLink("Editar", "Auto_Detalle", new { id = item.id },new{ @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id }, new {@class = "btn btn-danger btn-sm" })

              
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

